{
    "extends": "eslint:recommended",
    "plugins": ["angular"],
    "exclude": [],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "no-console": 0
    }, 
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "angular": true,
        "module": true,
        "inject": true
    }
}
